body {
  background-color: rgb(210, 210, 209);
  font-family: "Aboreto", cursive;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/064/398/original/picasso.jpeg?1674656299");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  color: bisque;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
  font-family: "Aboreto", cursive;
  background: transparent;
  color: bisque;
  font-weight: 200px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 30px 0;
  border-bottom: 1px dashed #235784;
}

.city:last-child {
  border: none;
}

.time {
  font-size: 36px;
  font-weight: bold;
  color: bisque;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 36px;
}

.date {
  opacity: 0.7;
  color: bisque;
}

h1 {
  text-align: center;
  color: bisque;
  font-weight: 200px;
}

h2 {
  margin: 0 0 5px;
  font-size: 24px;
  color: bisque;
  font-weight: 200px;
}

.github {
  color: #2a4c52;
  font-size: 14px;
}

a {
  color: bisque;
  font-size: 16px;
}

footer {
  text-align: center;
  color: #2a4c52;
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 22;
  }

  h2 {
    font-size: 18px;
  }

  a {
    font-size: 10px;
  }

  .time {
    font-size: 30px;
  }

  .time small {
    font-size: 14px;
  }

  footer {
    font-size: 10px;
  }
}
